<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Listagem de Pets</title>

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="container mt-4">
    <a th:href="@{/petshop/create}">Cadastrar Pet</a>
    <h1>Listagem de Pets</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Espécie</th>
            <th scope="col">Idade</th>
            <th scope="col">Excluir</th>
            <th scope="col">Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${petsList}">
            <td th:text="${pet.id}"></td>
            <td th:text="${pet.name}"></td>
            <td th:text="${pet.especie}"></td>
            <td th:text="${pet.idade}"></td>
            <td>
                <a th:href="@{/pet/delete/{id}(id=${pet.id})}">Deletar</a>
            </td>
            <td>
                <a th:href="@{/pet/edit/{id}(id=${pet.id})}">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>